#type1{
  background: url(img/q.jpeg);
  background-repeat: no-repeat;
}

.qr-code{
    border: 0px solid black;
    
    height: 250px;
    margin-left: 710px;
    margin-top: -890px;

}
.head{
    border: px solid black;
 width:60%;
 height: 300px;
 color:blue;
 margin-top: 80px;
 margin-left: 80px;
}
.card{
color:#3478bd;
font-family: arial;
text-align: center;
margin-left: -140px;
 }
 .card1{
color:black;
font-family:  arial;
text-align: center;
 }
  .card2{
color:#3478bd;
font-family:  arial;
text-align: center;
margin-left: -140px;
 }

   .card3{
color:black;
font-family:  arial;
text-align: center;
margin-left: -140px;
 }
 .head2{
    
 width:60%;
 height: 300px;
 color:blue;
 margin-top: 19%;
 margin-left: 80px;
}
 .card5{
color:#3478bd;
font-family:  arial;
text-align: left;
margin-top: -150px;
margin-left: 80px;
text-align: left;
 }
  .card6{
color:#3478bd;
font-family:  arial;
text-align: left;
margin-top: 10px;
margin-left: 30px;

 }
  .card7{
color:#3478bd;
font-family:  arial;
text-align: center;
margin-left: -43%;
margin-top: 30px;
 }
   .card10{
color:#3478bd;
font-family:  arial;
text-align: left;
margin-top: 10px;
margin-left: 0px;

 }